
:root{
    --main-color:#20c997;
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none;border: none; 
    text-decoration: none;
    transition: all .2s linear;
    line-height: 1.5;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background: #f5f8fd;
    padding-left: 25rem;
}


.heading{
    font-size: 4rem;
    padding-bottom: 1rem;
    color:#111;
    text-transform: uppercase;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.btn{
    display: inline-block;
    margin-top: 2rem;
    padding:.8rem 3rem;
    background:var(--main-color);
    color:#fff;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background:#111;
    letter-spacing: .2rem;
}

header{
    position: fixed;
    top:0; left:0; bottom:0;
    background:rgb(9, 9, 9);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding:8rem 2rem;
    width:25rem;
    text-align: center;
    opacity:9;
}
header .profile img{
    height: 16.5rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    border-color:rgb(31, 29, 29) ;
    margin-top: -4.5rem;
}

header .logo{
    color:#fff;
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo span{
    color:var(--main-color);
}

header .navbar a{
    display: block;
    font-size: 1.8rem;
    color:#fff;
    margin:2rem 0;
    margin-top: 2rem;
}

header .navbar a:hover{
    letter-spacing: .2rem;
    color:var(--main-color);
}
.navbar a.active:not(.btn) {
  color: #20c997;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

header .follow a{
    font-size: 1.3rem;
    color:#fff;
    margin:0 .7rem;
    margin-top: 8.5rem;
}

header .follow a:hover{
    color:var(--main-color);
}

#menu-bars{
    position: fixed;
    top:1rem; right: 1rem;
    z-index: 10000;
    background:var(--main-color);
    color:#fff;
    border-radius: .5rem;
    padding:1rem 1.5rem;
    font-size: 3rem;
    cursor:pointer;
    display: none;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    
    background-size: cover;
  }
  #hero:before {
    content: "";
    background: rgba(7, 8, 10, 0.754);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 1;
  }
  #hero .hero-container {
    position: relative;
    z-index: 2;
    min-width: 300px;
    text-align: center;
    margin-left: -30px;
    margin-top: 15rem;
  }
  .hero-container h2 {
    font-size: calc(1.525rem + 3.3vw) !important;
    font-weight: 700;
    color: #fff;
    margin-top: 2rem;
  }
  .hero-container .adress p {
    font-size: 2rem !important;
    color: #dee3e4 !important;
    margin-top: 2rem;
  }
  
  .hero-container p {
    color: #fff;
    font-size: 3rem !important;
    font-weight: 500; 
  }
  .hero-container .btn{
    background-color: #28292900;
    color: #20c997;
    border-color: #20c997;
    border-radius: 50px;
    padding: 1.5rem 4.5rem;
    font-weight: 600;
    border-width: 2px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    box-shadow: none!important;
    opacity: 0.8;
    margin-top: 4rem;
  }
  .hero-container a:hover{
    background: #20c997;
    color: #fff;
  }
  
  #hero p span {
    color: #fff;
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid #070808;
  }
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  @media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }
  .hero-content .scroll-down-arrow{
    position: absolute;
    z-index: 3;
    bottom: 20px;
    left: 50%;
    margin-left: -16px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 20px;
    text-align: center;
    color: #fff;
  }
  .hero-content .scroll-down-arrow .animated{
    position: relative;
    -o-animation: fadeInDown 1.5s infinite;
    -webkit-animation: fadeInDown 1.5s infinite;
    -moz-animation: fadeInDown 1.5s infinite;
    animation: fadeInDown 1.5s infinite;
    margin-left: 120px;
  }
  @keyframes fadeInDown {
    0% {
      top: 25px;
      opacity: 0;
    }
    100% {
      top: 0;
      opacity: 1;
    }
  }

  /*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  min-height: 20vh;
  overflow: hidden;
  margin-right: 1rem;
  }
  
  .section-bg {
    background: #f5f8fd;
  }
  
  .section-title {
    position: relative;
    margin-bottom: 3rem;
    display: flex;
    text-align: center;
  }
  .section-title h2 {
    margin-bottom: 0;
    text-align: center;
    color: #dee3e4;
    opacity: 0.4;
    font-weight: 600;
    line-height: 1.3;
    font-size: calc(1.95rem + 8.4vw);
    width: 100%;
    text-transform: uppercase;
  }
  .section-title p {
    position: absolute;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1.5;
    margin-bottom: 0;
    --bs-text-opacity: 1;
    color: rgba(var(--bs-dark-rgb),var(--bs-text-opacity));
    width: 100%;
    display: block;
    margin-block-start: 2em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
  }
  .section-title span {
    content: "";
    position: absolute;
    display: flex;
    width: 50px;
    height: 3px;
    background: #20c997;
    margin-left: 52rem;
    margin-top: 0.5rem;
  }
  
  
  /*--------------------------------------------------------------
  # About
  --------------------------------------------------------------*/
  .about{
    margin-top: 1rem;
  }
  .about .row{
    display: flex;
  }
  .about .name {
    font-weight: 700;
    font-size: 26px;
    color: #20c997;
    text-align: center;
    padding-bottom: 1rem;
    padding-right: 0.5rem;
    
  }
  .about h3 {
    font-weight: 700;
    font-size: 26px;
    color: #000;
    text-align: center;
    padding-bottom: 1rem;
    
  }
  .about .row img{
    padding-left: 0.5rem;
    height: 90%;
    width: 75%;
  }
  .about .row .about-start ul {
    list-style: none;
    padding-left: 2rem;
    margin-top: 0px;
    font-size: 2rem;
  }
  .about .row .about-end ul {
    list-style: none;
    font-size: 2rem;
    display: flex;
    flex-flow: column;
    padding-left: 5rem;
  }
  .about  ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  /*--------------------------------------------------------------
  # Resume
  --------------------------------------------------------------*/
  .resume .row{
    display: flex;
    gap: 1.5;
  }
  .container em{
    font-size: 12px;
  }
  .container .experience{
    margin-left: 5rem;
   
  }
  .resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #050d18;
    margin-left: 1.8rem;
  }
  .resume .resume-item {
    padding: 0 0 20px 20px;
    border-left: 2px solid #060708;
    position: relative;
    margin-left: 1.8rem;
  }
  .resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #050d18;
    margin-bottom: 10px;
    
  }
  .resume .resume-item h5 {
    font-size: 16px;
    background: #4ac391;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
    
  }
  .resume .resume-item ul {
    padding-left: 20px;
    
  }
  .resume .resume-item ul li {
    padding-bottom: 10px;
    font-size: 12px;
    
  }
  .resume .resume-item:last-child {
    padding-bottom: 0;
    
  }
  .resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #1f5297;
    
  }
  /*--------------------------------------------------------------
skills
--------------------------------------------------------------*/
.skills .skills-title{
  margin-left: 2rem;
  margin-bottom: 2rem;
  padding-top: 5rem;
}
.skills .skills-title h2{
  font-size: 3rem;
  font-weight: 700;
}
.skills .skills-title p{
  font-size: 2rem;
  font-weight: 600;
  margin-top: 2rem;
}
.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
  margin-left: 30px;
}
.skills .progress .skill {
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #020702;
  font-size: 16px;
}
.skills .progress .skill .val {
  float: right;
  font-style: normal;
}
.skills .progress-bar-wrap {
  background: #dce8f8;
  height: 10px;
}
.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #040505;
}
.skills .container .section-title p{
  margin-left: 130px;
  font-size: 14px;
}

  
  /*--------------------------------------------------------------
  # Portfolio
  --------------------------------------------------------------*/
  .portfolio .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    margin-left: -25px;
  }
  .portfolio .box-container .box1{
    height: 22rem;
    width: 35rem;
    border-radius: 1rem;
    margin: 1rem;
    overflow: hidden;
    cursor: pointer;
  }
  .portfolio .box-container .box2{
    height: 22rem;
    width: 33rem;
    border-radius: 1rem;
    margin: 1rem;
    overflow: hidden;
    cursor: pointer;
    
  }
  .portfolio .box-container .box3{
    height: 22rem;
    width: 33rem;
    border-radius: 1rem;
    margin: 1rem;
    overflow: hidden;
    cursor: pointer;
  }
  .portfolio .box-container .box4{
    height: 22rem;
    width: 33rem;
    border-radius: 1rem;
    margin: 1rem;
    overflow: hidden;
    cursor: pointer;
  }
  .portfolio p{
    font-size: 32px;
    text-align: center;
    font-weight: 600;
    padding: 3px 3px;
  }
  .portfolio .title{
    margin-left: 65px;
    background: #20c997;
  }
  /*--------------------------------------------------------------
  # Services
  --------------------------------------------------------------*/
  .services.container{
    margin-top: 6rem;
  }
  .services .row{
    display: flex;
    
  }
  .services .icon-box1 {
    margin-bottom: 20px;
    padding-left: 5rem;
  }
  .services .icon-box2 {
    margin-bottom: 20px;
    padding-left: 5rem;
  }
  .services .icon-box3 {
    margin-bottom: 20px;
    padding-left: 5rem;
  }
  .services .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    background: rgb(239, 236, 236);
    border-radius: 50%;
    transition: 0.5s;
    border: 1px solid #fff;
  }
  .services .icon i {
    color: rgb(35, 203, 139);
    font-size: 24px;
    line-height: 0;
  }
  .services .icon-box:hover .icon {
    background: #fff;
  }
  .services .icon-box:hover .icon i {
    color: #fff;
  }
  .services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  .services .title a {
    color: #343a40;
    right: 0px;
  }
  .services .title a:hover {
    color: #fff;
  }
  .services .description {
    font-size: 14px;
  }
  
  /*--------------------------------------------------------------
  # Contact
  --------------------------------------------------------------*/

.contact .contact-title{
  position: relative;
  margin-bottom: 3rem;
  display: flex;
  text-align: center;
}
.contact .contact-title h2{
  margin-bottom: 0;
  text-align: center;
  color: #dee3e4;
  opacity: 0.4;
  font-weight: 600;
  line-height: 1.3;
  font-size: calc(1.95rem + 8.4vw);
  width: 100%;
  text-transform: uppercase;
}
.contact .contact-title p{
  position: absolute;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
  margin-bottom: 0;
  --bs-text-opacity: 1;
  color: rgba(var(--bs-dark-rgb),var(--bs-text-opacity));
  width: 100%;
  display: block;
  margin-block-start: 2em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

}
.contact .contact-title span{
  content: "";
  position: absolute;
  display: flex;
  width: 50px;
  height: 3px;
  background: #20c997;
  margin-left: 52rem;
  margin-top: 0.5rem;
  
}

.contact .row{
    display: flex;
    
    gap:1.5rem;
}
.contact .row h3{
  font-size: 2.5rem;
  font-weight: 700;
  margin-left: 5rem;
}
.contact .row p{
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 5rem;

}
.contact .row .icons-container .icons{
  margin-top: 1.5rem;
}
.contact .row .icons-container .icons i{
  font-size: 1.125rem;
  color: #20c997;
  margin-right: 0.5rem;
  
}
.contact .row h1{
  font-size: 2rem;
  font-weight: 600;
  margin-top: 1.7rem;
  margin-left: 4rem;
}
.contact .row .links{
  margin-left: 4rem;
}
.contact .row a{
  font-size: 1.5rem;
  margin-top: 1rem;
  color: #323333;
  padding: 0.5rem 0.5rem;
  
}


.contact .row form{
    
    background:#f5f8fd;
    border-radius: .5rem;
    margin-left: 5rem;
}
.contact .row h2{
  margin-left: 5rem;
  font-weight: 700;
  font-size: 2.5rem;
}

.contact .row .map{
    flex:1 1 25rem;
    border:1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    width: 100%;
}
.contact .row form .form-control{
  width: 40%;
  border-radius: 5px;
  padding: 1rem 1rem;
  border: .1rem solid rgb(188, 186, 186);
  color:#333;
  text-transform: none;
  font-size: 1.7rem;
  
}
.contact .row form .box,
.contact .row form textarea{
   margin-top: 1rem;
    width: 80%;
    border: .1rem solid rgb(198, 195, 195);
    color:#333;
    text-transform: none;
    font-size: 1.7rem;
    margin:none;
    border-radius: 5px;
}

.contact .row form .box:focus,
.contact .row form textarea:focus{
    border-color: #6f7a8b;
}

.contact .row form .box::placeholder,
.contact .row form textarea::placeholder{
    text-transform: none;
    padding-top: 1rem;
    padding-left: 1rem;
}

.contact .row form textarea{
    height: 20rem;
    resize: none;
}
.contact .row  span{
  color: seagreen;
}

.contact .row form .button{
    display: block;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    margin-left: 17rem;
    border-radius: 20px;
    padding: 1.3rem 1.3rem;
    color: #fff;
    background-color: #20c997;
    width: 17rem;
    font-size: 1.5rem;
    font-weight: 700;
}
#name-error{

  color: red;
  font-size: 12px;

}
#message-error{
  color: red;
  font-size: 12px;
 
}
#subject-error{
  color: red;
}
#email-error{
  color: red;
  font-size: 12px;
}
#submit-error{
  color: red;
  font-size: 12px;
}


.footer{
    margin-top: 4rem;
    font-size: 1.5rem;
    padding:2rem;
    text-align: center;
    color:#666;
    background: #fff;
}

.footer span{
    color:var(--main-color);
}


















/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }
    
    body{
        padding: 0;
    }

    #menu-bars{
        display: initial;
    }

    header{
        left:-120%;
    }

    header.active{
        left:0%;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    header{
        width:100%;
    }

    .experience .box-container .box{
        padding-right: 0;
    }
    .contact .container .section-title .info .input-group{
      padding-right: 0;
  }

}

/*--------posts--------------*/
.post{
  padding-top: 2rem;
  padding-bottom: 1rem;
  display: block;
  font-size: 40px;
  background: white;

}
.post h2{
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  padding-bottom: 2rem;
}
.post span {
  color: #d20c0c;
  padding-left: 0.25rem;
  padding-bottom: 2rem;
}
.post .posts-container{
  display: grid;
  column-gap: 1.875rem;
  margin-bottom: 2.75rem;
  text-align: center;
}
.post .posts-container a:-webkit-any-link{
  color: -webkit-link;
  cursor: pointer;
}
.post .posts-container .img-post{
  vertical-align: middle;
  width: 60%;
  height: 80%;
  margin-top: 2rem;
}
.post .posts-container .cal-post{
  width: 40%;
  height: 80%;
}

.post .posts-container .post-content .post-title{
  margin-bottom: 0.7rem;
  color: #040505;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
}
.post .posts-container .post-content .post-date{
  margin-bottom: 0.7rem;
  color: #21bd62;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.post .posts-container .post-content .post-description{
  margin-bottom: 0.7rem;
  color: #2a2b2b;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
}

