body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}

a {
  color: #f9fcff;
  text-decoration: none;
}

a:hover {
  color: #50b0e0;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

element.style {
  display: none;
}
.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999999999 !important;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.preloader .lds-ellipsis {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  margin-top: -40px;
  margin-left: -40px;
  top: 50%;
  left: 50%;
}
.preloader .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.preloader .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #000;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #149ddd;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: rgb(134, 130, 130);
  line-height: 0;
}
.back-to-top:hover {
  background: #2eafec;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
/*-----------------------
before
*/
.before {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999999999 !important;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.before .lds-ellipsis {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  margin-top: -40px;
  margin-left: -40px;
  top: 50%;
  left: 50%;
}
.before .lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #000;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: #070808fa;
  overflow-y: auto;
  opacity: 1;
}
.side-bar #header{
  border: none;
}
#header {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
}
#header .navbar {
  padding: 0px;
}
@media (max-width: 991.98px){
.side-header .primary-menu {
    width: 100%;
    height: auto !important;
    overflow: visible;
  }
}
.side-header .primary-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 260px;
  height: 100% !important;
  background: #fff;
  border-right: 1px solid rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0 0 15px rgb(0 0 0 / 7%);
  box-shadow: 0 0 15px rgb(0 0 0 / 7%);
  z-index: 2;
  overflow: hidden;
  overflow-y: auto;
}
.primary-menu {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  height: auto !important;
  -webkit-box-ordinal-group: 0;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  background: #fff;
  border-bottom: 1px solid #efefef;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #111418 !important;
  --bs-bg-opacity: 1;
  border-bottom: 0!important;
  
}
#header .profile img{
  height: 13rem;
  width: 17rem;
  border-radius: 50%;
  object-fit: cover;
  border-color:rgb(45, 41, 41) ;

}
.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
}


.container-fluid .profile .mb-lg-auto{
  color: #20c997;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  box-sizing: border-box;
  cursor: pointer;


}
#header.primary-menu .container-fluid .profile span{
  border-radius: var(--bs-border-radius-pill)!important;
  background-color: #343a40 !important;
  padding: 0.5rem!important;
  display: none!important;
  border-color: #272829;
  border-width: 3px;
}
 
#header .profile h1 {
  font-size: 21px !important;
  font-size: 1.3125rem !important;
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb),var(--bs-text-opacity))!important;
  text-align: center!important;
  margin-bottom: 0!important;
}
#header .profile h1 a, #header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 991.98px){
.navbar-expand-lg.navbar-dark .navbar-collapse {
    background: rgba(0, 0, 0, 0.95);
}
}

#header .collapse {
    position: absolute;
    top: 45%;
    right: 0;
    left: 0;
    margin-top: 0px;
    z-index: 1000;
    
}
.collapse:not(.show) {
  display: none;
  width: 100%!important;
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}
.navbar-nav {
  overflow: hidden;
  overflow-y: auto;
  max-height: 65vh;
  padding: 15px;
  text-align: center;
}

.side-header .navbar-collapse .navbar-nav {
  flex-direction: column;
  width: 100%;
}
.navbar-nav {
  margin-bottom: 0;
  list-style: none;
}


.primary-menu ul.navbar-nav > li:hover > a:not(.btn), .primary-menu ul.navbar-nav > li > a.active:not(.btn) {
  color: #20c997;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.primary-menu.navbar-dark .navbar-nav > li > a:not(.btn) {
  color: rgba(250, 250, 250, 0.9);
}
 ul.navbar-nav li {
  border-color: rgba(250, 250, 250, 0.15);
  display: list-item;
  text-align: center;
}


/*=== 6.1 Social Icons ===*/
.social-icons {
  position: absolute;
    top: 92%;
    right: 0;
    left: 40px;
    margin-top: 0px;
    z-index: 1000;
    font-size: 10px;
    font-weight: 400;
    
  
}

.social-icons li {
  margin: 2px 8px;
  padding: 5px;
  overflow: visible;
}

.social-icons.social-icons-sm li {
  margin: 2px 4px;
}

.social-icons.social-icons-sm li a {
  font-size: 14px;
}

.social-icons.social-icons-lg li a {
  width: 34px;
  height: 34px;
  line-height: 34px;
  font-size: 22px;
}

.social-icons.social-icons-light li a {
  color: #eee;
}

.social-icons.social-icons-muted li a {
  color: #aab1b8;
}

.social-icons li:hover a {
  color: #999;
}

.social-icons li:hover.social-icons-twitter a, .social-icons.social-icons-colored li.social-icons-twitter a {
  color: #00ACEE;
}

.social-icons li:hover.social-icons-facebook a, .social-icons.social-icons-colored li.social-icons-facebook a {
  color: #3B5998;
}

.social-icons li:hover.social-icons-linkedin a, .social-icons.social-icons-colored li.social-icons-linkedin a {
  color: #0E76A8;
}

.social-icons li:hover.social-icons-rss a, .social-icons.social-icons-colored li.social-icons-rss a {
  color: #EE802F;
}

.social-icons li:hover.social-icons-dribbble a, .social-icons.social-icons-colored li.social-icons-dribbble a {
  color: #ea4c89;
}

.social-icons li:hover.social-icons-github a, .social-icons.social-icons-colored li.social-icons-github a {
  color: #333333;
}

.social-icons li:hover.social-icons-behance a, .social-icons.social-icons-colored li.social-icons-behance a {
  color: #053eff;
}

.social-icons li:hover.social-icons-google a, .social-icons.social-icons-colored li.social-icons-google a {
  color: #DD4B39;
}

.social-icons li:hover.social-icons-pinterest a, .social-icons.social-icons-colored li.social-icons-pinterest a {
  color: #cc2127;
}

.social-icons li:hover.social-icons-youtube a, .social-icons.social-icons-colored li.social-icons-youtube a {
  color: #C4302B;
}

.social-icons li:hover.social-icons-instagram a, .social-icons.social-icons-colored li.social-icons-instagram a {
  color: #3F729B;
}

.social-icons li:hover.social-icons-skype a, .social-icons.social-icons-colored li.social-icons-skype a {
  color: #00AFF0;
}

.social-icons li:hover.social-icons-email a, .social-icons.social-icons-colored li.social-icons-email a {
  color: #6567A5;
}

.social-icons li:hover.social-icons-vk a, .social-icons.social-icons-colored li.social-icons-vk a {
  color: #2B587A;
}

.social-icons li:hover.social-icons-xing a, .social-icons.social-icons-colored li.social-icons-xing a {
  color: #126567;
}

.social-icons li:hover.social-icons-tumblr a, .social-icons.social-icons-colored li.social-icons-tumblr a {
  color: #34526F;
}

.social-icons li:hover.social-icons-reddit a, .social-icons.social-icons-colored li.social-icons-reddit a {
  color: #C6C6C6;
}

.social-icons li:hover.social-icons-delicious a, .social-icons.social-icons-colored li.social-icons-delicious a {
  color: #205CC0;
}

.social-icons li:hover.social-icons-stumbleupon a, .social-icons.social-icons-colored li.social-icons-stumbleupon a {
  color: #F74425;
}

.social-icons li:hover.social-icons-digg a, .social-icons.social-icons-colored li.social-icons-digg a {
  color: #191919;
}

.social-icons li:hover.social-icons-blogger a, .social-icons.social-icons-colored li.social-icons-blogger a {
  color: #FC4F08;
}

.social-icons li:hover.social-icons-flickr a, .social-icons.social-icons-colored li.social-icons-flickr a {
  color: #FF0084;
}

.social-icons li:hover.social-icons-vimeo a, .social-icons.social-icons-colored li.social-icons-vimeo a {
  color: #86C9EF;
}

.social-icons li:hover.social-icons-yahoo a, .social-icons.social-icons-colored li.social-icons-yahoo a {
  color: #720E9E;
}

.social-icons li:hover.social-icons-apple a, .social-icons.social-icons-colored li.social-icons-apple a {
  color: #000;
}

.social-icons.social-icons-colored li:hover a {
  color: #999;
}

.social-icons li:first-child {
  margin-left: 0px;
}

.social-icons li:last-child {
  margin-right: 0px;
}

.social-icons li:first-child {
  margin-right: 0px;
}

.social-icons li:last-child {
  margin-left: 0px;
}


#header .profile .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 10;
  padding: 8px 0;
  margin-right: 10px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#header .profile .social-links a:hover {
  background: #149ddd;
  color: #fff;
  text-decoration: none;
}
.main_container{
  margin-left: 50px;
  width: calc(100%-200px);
  padding: 15px;
  transition: all 0.3s ease;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
#menu{
  position: fixed;
  top: 2rem; right: 2rem;
  background: #333;
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  padding: 1rem 1.5rem;
  z-index: 1000;
  display: none;
}
@media (max-width:991px){
  #menu{
    display: block;
  }
  .header{
    left: -120%;
  }
  header.toggle{
    left: 0%;
  }
  body{
    padding: 0;
  }
}
  @media (max-width:768px){
    html{
      font-size: 50%;
    }

}
@media (max-width:400px){
  header{
    width:100vw;
  }
  .heading{
    margin:0 3rem;
  }
  .about .container .section-title .row .col{
    width: 100%;
  }
  .services .container .section-title .row .col{
    width: 100%;
  }
  .resume .container .section-title .row .col{
    width: 100%;
  }
  .portfolio .container .section-title .row .col{
    width: 100%;
  }
  .contact .container .section-title .row .col{
    width: 100%;
  }
  
}
@media (max-width:1200px){
  html{
    font-size: 55%;
  }
  .hero-mask{
    padding: 1rem 4rem;
  }
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  
  background-size: cover;
}
#hero:before {
  content: "";
  background: rgba(7, 8, 10, 0.754);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0.8;
}
#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
  text-align: center;
  margin-left: 180px;
}
.hero-container h2 {
  font-size: calc(1.525rem + 3.3vw) !important;
  font-weight: 700;
  color: #fff;
}
.hero-container .adress p {
  font-size: 21px !important;
  font-size: 1.3125rem !important;
  color: #dee3e4 !important;
}

.hero-container p {
  color: #fff;
  font-size: 28px !important;
  font-size: 1.75rem !important;
  font-weight: 500; 
}
.hero-container a{
  color: #20c997;
  border-color: #20c997;
  padding: 0.8rem 2.6rem;
  font-weight: 500;
  border-width: 2px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  box-shadow: none!important;
}
.hero-container a:hover{
  background: #20c997;
  color: #fff;
  
}

#hero p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #070808;
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
.hero-content .scroll-down-arrow{
  position: absolute;
  z-index: 3;
  bottom: 20px;
  left: 50%;
  margin-left: -16px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 20px;
  text-align: center;
  color: #fff;
}
.hero-content .scroll-down-arrow .animated{
  position: relative;
  animation: fadeInDown 1.5s infinite;
  -webkit-animation: fadeInDown 1.5s infinite;
  -moz-animation: fadeInDown 1.5s infinite;
  -o-animation: fadeInDown 1.5s infinite;
}
@keyframes fadeInDown {
  0% {
    top: 25px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background: #f5f8fd;
}

.section-title {
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #dee3e4 !important;
  margin-left: 500px;
  opacity: 0.9;
  text-transform: uppercase;
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #14dd50;
  bottom: 0;
  left: 30px;
}
.section-title p {
  margin-bottom: 0;
  
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #21bd62;
  margin-left: 130px;
}
.about .content ul {
  list-style: none;
  padding: 0;
}
.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.about .content ul strong {
  margin-left: 0px;
}
.about .content ul i {
  font-size: 16px;
  margin-left: 130px;
  color: #149ddd;
  line-height: 0;
}
.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Facts
--------------------------------------------------------------*/
.facts {
  padding-bottom: 30px;
}
.facts .count-box {
  padding: 30px;
  width: 100%;
}
.facts .count-box i {
  display: block;
  font-size: 44px;
  color: #08090a;
  float: left;
  line-height: 0;
}
.facts .count-box span {
  font-size: 48px;
  line-height: 40px;
  display: block;
  font-weight: 700;
  color: #050d18;
  margin-left: 60px;
}
.facts .count-box p {
  padding: 15px 0 0 0;
  margin: 0 0 0 60px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #060708;
}
.facts .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #030303;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  transition: ease-in-out 0.3s;
}
.facts .count-box a:hover {
  color: #1f5297;
}

/*--------------------------------------------------------------
# Akills
--------------------------------------------------------------*/
.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}
.skills .progress .skill {
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #050d18;
}
.skills .progress .skill .val {
  float: right;
  font-style: normal;
}
.skills .progress-bar-wrap {
  background: #dce8f8;
  height: 10px;
}
.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #040505;
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #050d18;
  margin-left: 140px;
}
.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #060708;
  position: relative;
  margin-left: 140px;
}
.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #050d18;
  margin-bottom: 10px;
  
}
.resume .resume-item h5 {
  font-size: 16px;
  background: #4ac391;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
  
}
.resume .resume-item ul {
  padding-left: 20px;
  
}
.resume .resume-item ul li {
  padding-bottom: 10px;
  
}
.resume .resume-item:last-child {
  padding-bottom: 0;
  
}
.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #1f5297;
  
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .box-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  margin-left: 60px;
}
.portfolio .box-container .box{
  height: 20rem;
  width: 28rem;
  border-radius: 1rem;
  margin: 1rem;
  overflow: hidden;
  cursor: pointer;
}
.portfolio p{
  font-size: 32px;
  text-align: center;
  font-weight: 600;
  padding: 3px 3px;
}
.portfolio .title{
  margin-left: 130px;
  background: #20c997;
}
/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  margin-bottom: 20px;
}
.services .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  background: rgb(239, 236, 236);
  border-radius: 50%;
  transition: 0.5s;
  border: 1px solid #fff;
  margin-left: 170px;
}
.services .icon i {
  color: rgb(35, 203, 139);
  font-size: 24px;
  line-height: 0;
}
.services .icon-box:hover .icon {
  background: #fff;
}
.services .icon-box:hover .icon i {
  color: #fff;
}
.services .title {
  margin-left: 80px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
.services .title a {
  color: #343a40;
  right: 0px;
}
.services .title a:hover {
  color: #fff;
}
.services .description {
  margin-left: 200px;
  line-height: 24px;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .content h2{
  padding-bottom: 130px;
  margin-left: 130px;
}
.contact .info {
  padding: 30px;
  background: rgb(250, 248, 248);
  width: 400px;
  height: 250px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.12);
  margin-left: 140px;
}
.contact .info i {
  font-size: 20px;
  color: #20c997;
  float: left;
  width: 30px;
  height: 30px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.contact .info h4 {
  padding: 0 0 30px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #050d18;
}
.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #173b6c;
}
.contact .info .email p {
  padding-top: 5px;
}
 #name-error{

  color: red;

}
#message-error{
  color: red;
 
}
#subject-error{
  color: red;
}
#email-error{
  color: red;
}
#submit-error{
  color: red;
}
.input-group{
  margin-left: 200px;
  
}
.input-group span {
  color: seagreen;
}
.input-group textarea{
  width: 100%;
  border-radius: 10px;
}
 input{
  border-radius: 10px;
  padding: 10px 10px;
}
.contact .btn button{
  border-radius: 15px;
  margin-left: 170px;
  background: #20c997;
  padding: 10px 10px;
  border-color: #20c997;
  color: #fff;
  font-weight: 500;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  
  color: #3c3d3e;
  font-size: 14px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fafbfc;
  
}
#footer .copyright {
  text-align: center;
}
#footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #404346;
}
.media {
  padding: 15px;
  color: #f9fafc;
  font-size: 5px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 252px;
  z-index: 9999;
  background: #070808fa;
  opacity: 1;
  
}
.media .credits a{
  padding-top: 5px;
  padding-left: 5px;
  margin-left: 10px;
  font-size: 15px;
  color: #eaebf0;
}
@media (max-width: 1199px) {
  #footer {
    position: static;
    width: auto;
    padding-right: 20px 15px;
  }

  
}

